@model IQueryable<webby.Models.CommentViewModels>
@using webby.Models;

@if (Model != null)
{
    foreach (CommentViewModels comment in Model)
    {
        

        @comment.Text
        <p> </p>
        @:(by: @comment.Name)
        <p> </p>
        <br />
        
    }
}