@model webby.Models.PostListViewModels
        @if (ViewBag.CanEdit)
        {
            @Html.ActionLink("Edit", "Edit", "Home", new { id = Model.PostId },
                        new { @class = "a a-default" })
            <Span></Span>
            @Html.ActionLink("Delete", "Delete", "Posts", new { id = Model.PostId },
                        new { @class = "a a-default" })
        }

