@model webby.Models.PostListViewModels
    <li>
        @if (ViewBag.CanEdit)
        {
            @Html.ActionLink("Edit", "Edit", "Posts", new { id = Model.PostId },
                        new { @class = "btn btn-default" })
            <Span></Span>
            @Html.ActionLink("Delete", "Delete", "Posts", new { id = Model.PostId },
                        new { @class = "btn btn-default" })
        }

    </li>