
@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome to Webby!</h1>
</div>
<hr />
<body>
    <div>
        <p>
            Webby! is a site for users to comment on Posts. Posts are created by us as topics for you to discuss with others.
                                            Register or log in to get started!
        </p>
    </div>
</body>