@model webby.Models.PostListViewModels
@{
    ViewBag.Title = "View Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts{
    @Scripts.Render("~/bundles/ajax")}

<h2>Current Posts</h2>
<p> </p>
<hr />

<body>
    <div>

        @foreach (webby.Models.PostModels post in Model.Posts)
        {
            <table>
                <tr>
                <thead><h4> @post.Title</h4></thead></tr>
                @{int i = 0;
                }
                @foreach (var comment in post.Comments)
                {
                    i++;
                }

                <tr><td> This post has @i comments.</td></tr>
                <tr>
                    <td>
                        @Html.ActionLink("View Contents and Comment >", "Details", new { id = post.PostId })
                    </td>

                </tr>
                @if (Request.IsAuthenticated)
                {
                    if (HttpContext.Current.User.IsInRole("Administrator"))
                    {
                        <tr>
                            <div class="post-box">
                                <div id="post-details-@post.PostId">
                                    @Ajax.ActionLink("(Admin) Change this Post >", "_PostDetails", "Home",
                                new { id = post.PostId },
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "post-details-" + post.PostId
                                }, new { @class = "a a-default" })
                                </div>
                            </div>
                        </tr>



                    }

                }


            </table>
            <p> </p>

        }


    </div>


   

</body>
